@charset "utf-8";

.total {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
  padding-left: 10px;
}
.notice .table {
  border-collapse: collapse;
  border-top: 1px solid #292929;  
}
.notice table.table th { font-weight: 600;}
.notice table.table th,
.notice table.table td {
  padding: 18px 20px;
  font-size: 20px;
  text-align: center;
}
.notice table.table tr:last-child {
  border-bottom: 1px solid #e9e9e9;
}
.notice table.table td {
  border-top: 1px solid #e9e9e9;
}
.notice table.table td:nth-child(2) {text-align: left;}
.notice table.table td a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.notice .pagenation {
  font-size: 0;
  text-align: center;
  margin: 50px 0;
  color: transparent;
}
.notice .pagenation > div {
  display: inline-block;
  vertical-align: middle;
}
.notice .pagenation .page_navi a {
  width: 20px;
  height: 20px;
  position: relative;
}
.notice .pagenation .page_navi a.prev_btn5::before,
.notice .pagenation .page_navi a.next_btn5::before {
  background-position-y: -13px;
}
.notice .pagenation .page_navi.next a::before { transform: scaleX(-1); } 
.notice .pagenation .page_navi a:hover::before {
  background-position-x: -15px;
}

.notice .pagenation .page_navi a::before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/arrow_left.svg) no-repeat left top;
  top: calc(50% - 6px);
  left: calc(50% - 9px);
  width: 14px;
  height: 13px;
}
.notice .pagenation .page_track {
    margin: 0 20px;
}
.notice .pagenation .page_track a {
    font-size: 18px;
    position: relative;
    text-align: center;
    min-width: 20px;
    padding: 0 5px;
}
.notice .pagenation .page_track a.now {
    color: #292929;
    cursor: initial;
}
.notice .pagenation .page_track a.now::after {
    background-color: #292929;
    display: block;
}
.notice .pagenation .page_track a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e9e9e9;
}
.view .context .topbox {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.view .context .topbox .title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 60px;
  word-break: keep-all;
}
.view .context .topbox .date {
  font-size: 20px;
  font-weight: 300;
}
.view .context .topbox::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #292929;
  bottom: -30px;
  left: 0;
}
.view .context .botbox {
  margin: 50px 0;
}
.view .context .botbox .subtit {
  padding: 40px 0;
  font-size: 24px;
  font-weight: 600;
}
.view .context .botbox .detail_info {
  font-size: 18px;
  line-height: 30px;
}
.view .page_controller {
  border-top: 1px solid #292929;
}
.view .page_controller .link_line {
  padding: 20px 0;
  border-bottom: 1px solid #e9e9e9;
}
.view .page_controller .link_line span.text::before{
  content: "";
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(../images/arrow_top.svg) no-repeat center;
  margin-right: 10px;
}
.view .page_controller .link_line span {
  width: 100px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.view .page_controller .link_line a {
  width: 970px;
  color: #292929;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 20px;
  vertical-align: middle;
}
.view .page_controller .link_line:last-child span.text::before {
  transform: scaleY(-1);
}
.view .page_controller .link_line a.disabled {
  color: #adadad;
  cursor: initial;
}
.view .return_list {
  margin: 50px 0;
  text-align: center;
}
.view .return_list a {
  width: 500px;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  color: #fff;
  background-color: #292929;
  border-radius: 10px;
}

/* 자료실 */
.data_list .context {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #292929;
}
.data_list .context .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 30px;
}
.data_list .context .subtit {
  font-size: 18px;
  font-weight: 400;
  color: #9b9b9b;
  line-height: 26px;
}
.data_list .context .imgbox {
  width: 140px;
  height: 140px;  
}
.data_list .context .imgbox img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.data_list .context::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #adadad;
  bottom: -38px;
}
.data_list .context + .context {
  margin-top: 71px;
}
.notice .pagenation.mtb {
  margin: 100px 0 50px;
}


@media (max-width: 1200px) {
  .cont_head { margin-bottom: 70px;}
}
@media (max-width: 1000px) {
  .notice .total { margin-bottom: 20px;}

  .cont_head { display: none;}
  .context { margin-top: 80px;}
  .cont_head.t_block { display: block;}

  .view .context .topbox { text-align: left; }
  .view .context .topbox .title { font-size: 24px; line-height: 16px;}
  .view .context .botbox .subtit { font-size: 20px;}
  .view .context .botbox .detail_info { font-size: 16px; line-height: 28px;}

  .view .page_controller .link_line span { width: 80px; font-size: 15px;}
  .view .page_controller .link_line a { width: calc(100% - 200px); font-size: 15px;}
  .view .return_list a {width: 100%;}

  .data_list .context .title { font-size: 20px; line-height: 16px;}
}
@media (max-width: 640px) {
  .notice .total { font-size: 16px;}
  .notice table.table colgroup col { width: auto !important;}
  .notice table.table thead { display: none;}
  .notice table.table tr { display: block; padding: 10px 0; width: 100%; border-bottom: 1px solid #e9e9e9;}
  .notice table.table td { display: block; border: none; padding: 5px 10px; text-align: left; font-size: 18px; line-height: 24px;}
  .notice table.table td.number::before { content: attr(data-name) '.'; display: inline-block;}

  .view .context .topbox .date {font-size: 16px;}

  .cont_head {margin-bottom: 40px;}

  .data_list .context {width: 100%; flex-direction: column; align-items: flex-start;}
  .data_list .context .textbox { order: 2; padding: 0 10px;}
  .data_list .context .title { font-size: 20px; margin-bottom: 10px; line-height: 24px;}
  .data_list .context .textbox .subtit { font-size: 16px; line-height: 20px;}
  .data_list .context .imgbox {order: 1; width: 100%; height: auto; margin-bottom: 20px;}
  .data_list .context::after { display: none;}
}
